<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Assigned trucks</h1>
  {% if trucks %}
  {% for truck in trucks %}
      <div class="card">
        <h2>{{ truck.number_plate }}</h2>
        <h3>Status: Assigned to {{ truck.assigned_to }}</h3>
        <a href="{% url 'complete' truck.id %}" class="btn btn-primary">Complete task</a>
      </div>
    {% endfor %}
  {% else %}
    <p>No Trucks Assigned</p>
  {% endif %}
  
</body>
</html>